<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercambio de monedas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script defer src="/static/js/jquery-3.7.1.min.js"></script>
    <script defer src="/static/js/index.js"></script>
</head>
<body>
    <!--Barra de navegación-->
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark mb-5" style="padding: 10px 30px;">
    <div class="container-fluid">
        <a class="navbar-brand me-auto">
            <img src="/static/res/autumn64_blahaj.svg" style="width: 80%; max-width: 200px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mb-2 my-sm-0 ms-sm-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://codeberg.org/Autumn64/portfolio/" target="_blank">Portafolio</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <!--Contenedor principal de la página-->
    <main class="container-fluid mt-5 px-5 text-center">
        <!--Mensaje de error-->
        <div class="alert alert-danger" role="alert" id="errorMsg" style="display: none;"></div>
        <h1 class="h1 mb-5">Intercambio de precios de monedas</h1>
        <!--Formulario para las monedas-->
        <form class="container text-center py-3 px-3 border rounded" id="monedasForm">
            <div class="row py-4">
                <div class="colsm-4">
                </div>
                <div class="colsm-4">
                    <!--Text box para la cantidad-->
                    <div class="input-group mb-3">
                    <input type="text" id="amount" class="form-control" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="colsm-4">
                </div>
            </div>
            <div class="row gap-3 gap-md-0">
                <div class="col-md-5">
                    <!--Select box para la primera moneda-->
                    <select class="form-select" id="firstCurr" aria-label="Default select example">
                    <option value="MXN" selected>MXN</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <!--Botón de intercambiar-->
                    <button class="btn btn-outline-primary" id="changeBtn">Intercambiar</button>
                </div>
                <div class="col-md-5">
                    <!--Select box para la segunda moneda-->
                    <select class="form-select" id="secondCurr" aria-label="Default select example">
                    <option value="MXN">MXN</option>
                    <option value="USD" selected>USD</option>
                    <option value="EUR">EUR</option>
                    </select>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <!--Botón de enviar-->
                    <button type="submit" class="btn btn-success" id="submitBtn">Calcular</button>
                </div>
            </div>
        </form>
        <!--Pantalla de carga mientras obtiene los datos-->
        <section class="container mt-5" id="loadingScreen" style="display: none;">
            <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
            </div>
        </section>
        <!--Sección de resultados-->
        <section class="card my-5 px-5 mx-auto" id="resultSection" style="display: none; width: 90%; max-width: 300px;">
        <div class="card-body text-start">
            <!--Primera moneda-->
            <h2 class="h2" id="currOne"></h2>
            <input type="number" class="form-control" id="resultOne" disabled>
            <hr>
            <!--Segunda moneda-->
            <h2 class="h2" id="currTwo"></h2>
            <input type="number" class="form-control" id="resultTwo" disabled>
        </div>
        </section>
    </main>
</body>
</html>